<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin-SIMON" value="*" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>

                <rule name="aisles" stopProcessing="true">
                    <match url="^aisle/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?a={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="brands" stopProcessing="true">
                    <match url="^brand/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?b={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="categories" stopProcessing="true">
                    <match url="^category/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?ca={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="catalogs" stopProcessing="true">
                    <match url="^catalog/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?ca={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="cms" stopProcessing="true">
                    <match url="^cms/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cms.asp" logRewrittenUrl="true" />
                </rule>

                <rule name="filter" stopProcessing="true">
                    <match url="^filter/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?f={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="featured" stopProcessing="true">
                    <match url="^fifeaturedlter/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?f={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="items" stopProcessing="true">
                    <match url="^item/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?i={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="vendors" stopProcessing="true">
                    <match url="^vendor/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?m={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="info" stopProcessing="true">
                    <match url="^info/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?p=2#{R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="search" stopProcessing="true">
                    <match url="^search/(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.asp?s={R:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="WWW-simon" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www\.([a-zA-Z0-9.\/-]+)" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" />
                </rule>

                <rule name="HTTPS-simon" stopProcessing="true">
                    <match url=".*" negate="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
